body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}


h2  {
	margin-top: 5px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 15px;
	padding-top: 0px;
	margin-bottom: 5px;
	color: #000;
	font-size: 20px;
}

p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom:15px;
 	color:black;
	padding-top: 0px;
}

.container {
	min-width:980px;
	width: 100%;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
	}

.footer {
	width:100%;
	height: 50px;
	background-color: #ffffff;
	border-top-style: solid;
	border-top-color: #dddddd;
	border-top-width: 1px;
	clear: both;
}

.footer_context {
	color:#666666;
	font-size:11px;
	padding-top:18px;
} 

.header {
	z-index: 100;
	position: fixed;
	width:100%;
	height: 50px;
	background-color: #07445d;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.header_context {
	max-width:1100px;
	height: 50px;
	background-color: #07445d;
	margin: auto;
}

.fivejacklogo {
	float: left;
	padding-top:15px;
}

#menu {
	font-family: arial;
	font-size: 14px;
	color: white;
	float : right;
}

.all-li {
	list-style-type: none;
	display: inline-block;
	}

li {
	display: inline-block;
	padding: 15px 15px 16px 15px;
}

li:hover {
	color: #07445d;
	background-color: white;
	transition: 0.3s;
	cursor: pointer;
	text-decoration: none;
}

.menu-link {
	color: white;
}

.menu-link:hover {
	color: #07445d;
	text-decoration: none !important;
}

.menu-link-active {
	font-weight: bold;
	padding: 16px 0px 18px 0px;
	color: #07445d;
	background-color: white;
	cursor: pointer;
	text-decoration: none;
}

.li-active {
		color: #07445d;
	background-color: white;
	transition: 0.3s;
	cursor: pointer;
	text-decoration: none;
}