.space {
	display: block;
	height: 90px;
}


.wallpaper {
	height: 600px;
}

.wallpaper-image {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.container-BG {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
}

.BG {
	z-index: -1;
}

.uvp-container {
	bottom: 35%;
	position: relative;
}

.uvpspace {
	font-size: 60px;
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
	font-family: keepCalm;
	color: white;
	margin: auto;
	text-shadow: 0px 2px 30px #000;
}

@font-face {
	font-family: keepCalm;
    src: url(../font/KeepCalm-Medium.ttf);
}

.company-explained {
	position: relative;
	bottom: 38%;
	text-align: center;
	max-width: 50%;
	margin: 0 auto;
	font-family: arial;
	margin: auto;
	text-shadow: 0px 1px 20px #000;
}

#company_explained {
	color: white;
}

.fivejack-culture-title {
	font-size: 36px;
	font-family: keepCalm;
	color: #07445d;
	text-align: center;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;

}

.fivejack-culture {
	position: relative;
	margin-top: 10px;
	text-align: center;
	margin-left: 64px;
	max-width: 100%;
}

.culture-agile {
	display: inline-block;
	margin: 0px 35px;
}

.culture-hardcore {
	display: inline-block;
	margin: 0px 35px;
}

.culture-data {
	display: inline-block;
	margin: 0px 35px;
}

.culture-font-agile {
	font-size: 22px;
	font-family: keepCalm !important;
	color: #07445d;
	text-transform: uppercase;
	padding-bottom: 0px !important;
	margin-bottom:  0px !important;
}

.culture-font-hardcore {
	font-size: 22px;
	font-family: keepCalm;
	color: #07445d;
	text-transform: uppercase;
	padding-bottom: 0px !important;
	margin-bottom:  0px !important;
}

.culture-font-data {
	font-size: 22px;
	font-family: keepCalm;
	color: #07445d;
	text-transform: uppercase;
	padding-bottom: 0px !important;
	margin-bottom:  0px !important;
}

.product-page {	
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 70%;
    position: relative;
    margin: 0px auto;
    vertical-align: middle;
}

.itemku {
	float: left;
	max-width: 30%;
	margin-right: 5%;
}

.itemku-logo {
	width: 100%;
	position: relative;
	float: left;
}

.itemku-description {
	font-family: "arial";
	color: #444;
	position: relative;
	top: 35px;
	clear: both;
	font-size: 16px;
	text-align: left;	
	padding: 0px 0px;
	margin: 0px 0px;
}

.situs-jualbeli {
	color: #f59d26;
	font-family: "arial";
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
}

.itemku-preview-container {
	position: relative;
	vertical-align: middle;
}

.itemku-preview {
	float: right;
	margin-left: 5%;
}

.reviewed-by {
	font-family: arial;
	color: #444;
	display: block;
	font-size: 16px;
	text-align: center;
	margin: 0px auto 1%;
	font-weight: bold;
}

.container-reviews {
	text-align: center;
    max-width: 40%;
    position: relative;
    margin: 0px auto;
}

.review-content-outter-container {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
}

.review-content-container {
    max-width: 600px;
    text-align: left;
    vertical-align: middle;
    margin-right: 0%;
}

.review-content-container-2 {
    max-width: 600px;
    text-align: left;
    vertical-align: middle;
    margin-left: 5%;
}

.review-image {
    width: 160px;
    vertical-align: middle;
}

.review-image-e27 {
    width: 60px;
    vertical-align: middle;
}

a {
	text-decoration: none !important;
}

a:hover {
	text-decoration: underline !important;
	cursor: pointer;
}

.review-text {
    display: block;
    max-width: 180px;
    margin: 10px auto;
    padding: 0px;
    text-align: justify;
    font-size: 12px;
    color: #1982ad;
    vertical-align: middle;
}

.review-text:visited {
	color: purple;
}

.career {
	margin: 0px auto;
	max-width: 70%;
}

.career-container {
	display: flex;
}

.roles-container {
}

.roles {
	margin: 0px !important;
	padding: 8px !important;
	width: 210px;
	font-size: 16px;
	font-family: keepCalm;
	color: #07445d !important;
	text-align: left;
	position: relative;
}

.roles:hover {
	color: #fff !important;
	background-color: #07445d;
	padding: 8px !important;
	width: 210px;
	cursor: pointer;
	transition: 0.8s;
}

.roles-active {
	color: #fff !important;
	background-color: #07445d;
	padding: 8px !important;
	width: 210px;
	cursor: pointer;
	transition: 0.8s;
}

.software-engineer {
	display: block;
	margin-left: 10%;
	padding-top: 8px;
}

.software-description {
	margin: 0px !important;
	padding: 0px !important;
	font-family: 'arial';
	color: #444 !important;
	width: 100%;
}

.qualifications {
	font-weight: bold;
	margin: 0px !important;
	padding: 0px !important;
	font-style: italic;
	font-family: 'arial';
	color: #444 !important;
}

.qualifications-li {
	display: list-item !important;
	font-family: 'arial';
	color: #444 !important;
	transition: none !important;
	padding: 0px 0px !important;
	width: 100%;
}

.qualifications-li:hover {
	font-weight: normal !important;
	cursor: auto !important;
}

.mascot {
	position: relative;
	display: block;
	text-align: center;
	width: 250px;
	margin: 0px auto;
	padding: 50px 0px 0px 0px;
}

.what {
	font-size: 30px;
	font-weight: bold !important;
	color: #444 !important;
	font-family: 'arial' !important;
	text-align: center !important;
	margin: 0px auto !important;
	text-align: center;
}

.icons-outer {
	width: 100%;
}

.icons {
	width: 85%;
	margin: 30px auto;
}

.icons-container {
	display: flex;
	justify-content: space-between;
}

.icons-row {
	text-align: center;
}

.icons-img {
	max-width: 160px;
}

.icons-text-time {
	width: 220px;
	font-family: 'arial' !important;
	color: #444 !important;
}

.icons-text-food {
	width: 220px;
	font-family: 'arial' !important;
	color: #444 !important;
}

.icons-text-voucher {
	width: 220px;
	font-family: 'arial' !important;
	color: #444 !important;
}

.icons-text-calendar {
	width: 220px;
	font-family: 'arial' !important;
	color: #444 !important;
}

.icons-text-agile {
	width: 220px;
	font-family: 'arial' !important;
	color: #444 !important;
}

.icons-text-fun {
	width: 220px;
	font-family: 'arial' !important;
	color: #444 !important;
}

.icons-text-challenge {
	width: 220px;
	font-family: 'arial' !important;
	color: #444 !important;
}

.icons-text-family {
	width: 220px;
	font-family: 'arial' !important;
	color: #444 !important;
}

.contact {
	width: 100%;	
}

#map {
	margin: 0px auto;
	text-align: center;
	width: 800px;
	height: 450px;
}

.contact-container{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
	width: 100%;
	background-color: #07445d;
	height: 320px;
	vertical-align: middle;
}

.contact-address {
	margin-top: 20px;
	display: inline-flex;
	
}

.about {
	text-align: left;
	margin-left: 15%;
}

.about-header {
	color: white !important;
	font-family: 'arial';
	font-size: 36px;
	padding: 0px;
	margin: 0px;
}

.about-text {
	max-width: 240px;
	margin-top: 20px;
	color: white !important;
	font-family: 'arial';
	font-size: 14px;
	padding: 0px;
	text-align: justify;
}

.contact-address-container {
	margin-right: 5%;
	margin-left: 5%;
}

.contact-address-icon {

}

.contact-address-text {
	margin-bottom: 16px;
	color: white;
	font-family: 'arial';
	font-size: 14px;
	padding-right: 0px !important;
}

.keep-in-touch {
	margin-right: 15%;
	text-align: center;
}

.keep-in-touch-text {
	margin-bottom: 12px !important;
	padding: 0px 0px !important;
	font-size: 36px;
	color: white;
	font-family: 'arial';
	font-weight: bold;
}

.socmeds {
	display: inline-flex;
}

.contact-img-fb {
	background-image: url("../images/facebook-off.png");
	width: 60px;
	height: 60px;
	margin: 20px 20px 0px 0px;
	display: inline-block;

}

.contact-img-fb:hover {
	background-image: url("../images/facebook.png");
	cursor: pointer;
	transition: background-image 0.3s;
}

.contact-img-angellist {
	background-image: url("../images/angellist-off.png");
	width: 60px;
	height: 60px;
	margin: 20px 0px 0px 20px;
	display: inline-block;
}

.contact-img-angellist:hover {
	background-image: url("../images/angellist.png");
	cursor: pointer;
	transition: background-image 0.3s;
}

.contact-img-location {
	width: 30px;
	margin-bottom: 75px;
}

.contact-img-address {
	width: 30px;
	margin-bottom: 13px;
}

.contact-img-email {
	width: 30px;
}

a.contact-link {
	width: 60px;
	height: 60px;
}

#map {
	margin: 0px auto;
	text-align: center;
	width: 800px;
	height: 450px;
}

.other-jobs {
	display: none;
}

/*
@media screen and (max-width: 500px) {
	
  ul.all-li a {display: none;}
  a.mobile-nav {
    float: right;
    display: inline-block !important;
    color: white;
    padding-top: 16px;
  }
} */

@media screen and (max-width: 500px) {
	/*
	ul.responsive {position: relative;}
	ul.responsive a.mobile-nav {
	position: absolute;
	right: 0;
	top: 0;
	} 

	.responsive a {
	float: none;
	display: block !important;
	}

	.responsive a li {
	display: block;
	text-align: left;
	} */

	body {
		width: 100%;
	}

	.space {
		display: block;
		height: 50px;
		width: 100%;
	}


	.wallpaper {
		max-width: 100%;
		height: auto;
		text-align: center;
		position: relative;
	}

	.wallpaper-image {
		height: auto;
		object-fit: cover;
		width: 100%;
	}

	.container-BG {
		display: none;
		justify-content: space-between;
		position: absolute;
		width: 100%;
	}

	.BG {
		display: none;
		z-index: -100;
		max-width: 100%;
	}

	.uvp-container {
		position: absolute;
		width: 100%;
	}

	.uvpspace {
		font-size: 160%;
		text-align: center;
		font-family: keepCalm;
		color: white;
		margin-bottom: 9%;
		text-shadow: 0px 2px 30px #000;
		width: 80%;
	}

	@font-face {
		font-family: keepCalm;
	    src: url(../font/KeepCalm-Medium.ttf);
	}

	.company-explained {
		position: relative;
		text-align: justify;
		font-size: 14px;
		max-width: 80%;
		font-family: arial;
		text-shadow: none;
		margin-top: 5%;
		margin-bottom: 10%;
	}

	#company_explained {
		color: #444;
		padding: 0px;
	}

	.fivejack-culture-title {
		font-size: 150%;
		font-family: keepCalm;
		color: #07445d;
		text-align: center;
		margin: 0 auto;
		position: relative;
		margin-top: 5%;
		max-width: 100%;
	}

	.fivejack-culture {
		position: relative;
		text-align: left;
		width: 100%;
		margin-left: 0px !important;
	}

	.culture-agile {
		display: flex;
		width: 80%;
		margin: 0% auto 10%;
	}

	.culture-hardcore {
		display: flex;
		width: 80%;
		margin: 0% auto 10%;
	}

	.culture-data {
		display: flex;
		width: 80%;
		margin: 0px auto 10%;
	}

	.culture-img {
		width: 20%;
		height: 20%;
		margin-left: 19%;
	}

	.culture-font-agile {
		font-size: 18px;
		font-family: keepCalm;
		color: #07445d;
		text-transform: uppercase;
		width: 40%;
		padding-top: 20%;
	}

	.culture-font-hardcore {
		font-size: 18px;
		font-family: keepCalm;
		color: #07445d;
		text-transform: uppercase;
		width: 40%;
		padding-top: 13%;
	}

	.culture-font-data {
		font-size: 18px;
		font-family: keepCalm;
		color: #07445d;
		text-transform: uppercase;
		width: 40%;
		margin: 0px;
		padding-top: 12%;
	}

	.product-page {
		display: block;
	    width: 100%;
	    position: relative;
	    margin: 0px auto;
	    text-align: left;
	    max-width: 100%;
	}

	.itemku {
		position: relative;
		text-align: center;
		margin-left: 10%;
		max-width: 80%;
	}

	.itemku-logo {
		position: relative;
		width: 98%;
		margin-left: 1%;
	}

	.itemku-description {
		font-family: arial;
		color: #444;
		position: relative;
		top: 35px;
		clear: both;
		font-size: 14px;	
		padding: 0px 0px;
		margin: 0px 0px;
		width: 100%;
		text-align: justify;
	}

	.situs-jualbeli {
		color: #f59d26;
		font-family: arial;
		font-weight: bold;
		font-size: 20px;
		font-style: italic;
		width: 100%;
	}

	.itemku-preview-container {
		position: relative;
		width: 100%;
		top: 10px;
		margin-bottom: 30px;
	}

	.itemku-preview {
		width: 84%;
		float: none;
		margin-left: 8%;
		margin-top: 5%;
	}

	.reviewed-by {
		font-family: arial;
		color: #444;
		position: relative;
		font-size: 16px;
		margin-top: 15%;
		padding: 0px;
	}

	.container-reviews {
	    position: relative;
	    max-width: 100%;
	}

	.review-content-outter-container {
		display: block;
	}

	.review-content-container {
	    text-align: center;
	    margin-top: 10%;
	    margin-right: 0px;
	    margin-left: 0px;
	}

	.review-content-container-2 {
	    text-align: center;
	    margin-top: 10%;
	    margin-left: 0px;
	}

	.review-image {
	    vertical-align: middle;
	    width: 50%;
	    position: relative;
	}

	a {
		text-decoration: none !important;
		width: 100%;
	}

	a:hover {
		text-decoration: underline !important;
		cursor: pointer;
		width: 100%;
	}

	.review-text {
	   	text-align: justify;
	    font-size: 12px;
	    color: #1982ad;
	    vertical-align: middle;
	}

	.review-text:visited {
		color: purple;
		width: 100%;
	}

	.career {
		margin: 0px auto;
		width: 100%;
	}

	.career-container {
		display: block;
		width: 100%;
	}

	.roles-container {
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.roles {
		
	}

	.roles:hover {
		color: #fff !important;
		background-color: #07445d;
		padding: 8px !important;
		width: 130px;
		cursor: pointer;
		transition: 0.8s;
		width: 100%;
	}

	.roles-active {
		color: #fff !important;
		background-color: #07445d;
		padding: 8px !important;
		width: 160px;
		cursor: pointer;
		transition: 0.8s;
		width: 100%;
	}

	.software-engineer {
	}

	.software-description {
		margin: 5% 0% 0% -8% !important;
		font-family: arial;
		color: #444 !important;
		width: 100%;
	}

	.qualifications {
		font-weight: bold;
		margin: 5% 0% 0% -8% !important;
		padding: 0px !important;
		font-style: italic;
		font-family: arial;
		color: #444 !important;
		width: 100%;
	}

	.qualifications-li {
		display: list-item !important;
		font-family: arial;
		color: #444 !important;
		transition: none !important;
		padding: 0px 0px !important;
		width: 100%;
	}

	.qualifications-li:hover {
		font-weight: normal !important;
		cursor: auto !important;
		width: 100%;
	}

	.what {
		font-size: 16px;
		font-weight: bold !important;
		color: #444 !important;
		font-family: arial !important;
		text-align: center !important;
		margin: 0px auto !important;
	}

	.icons {
		position: relative;
		margin: 5% auto 0%;
		width: 100%
	}

	.icons-container {
		display: block;
		width: 100%;
	}

	.icons-row {
		margin-bottom: 7%;
		display: inline-flex;
		margin-left: 10%;
		vertical-align: middle;
	}

	.icons-img {
		width: 25%;
		height: 25%;
		float: left;
	}

	.icons-text-time {
		text-align: left;
		font-family: arial !important;
		color: #444 !important;
		position: relative;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 1%;
	}

	.icons-text-food {
		text-align: left;
		font-family: arial !important;
		color: #444 !important;
		position: relative;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 5%;
	}

	.icons-text-voucher {
		text-align: left;
		font-family: arial !important;
		color: #444 !important;
		position: relative;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 1%;
	}

	.icons-text-calendar {
		text-align: left;
		font-family: arial !important;
		color: #444 !important;
		position: relative;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 1%;
	}

	.icons-text-agile {
		text-align: left;
		font-family: arial !important;
		color: #444 !important;
		position: relative;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 9%;
	}

	.icons-text-fun {
		text-align: left;
		font-family: arial !important;
		color: #444 !important;
		position: relative;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 5%;
	}

	.icons-text-challenge {
		text-align: left;
		font-family: arial !important;
		color: #444 !important;
		position: relative;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 9%;
	}

	.icons-text-family {
		text-align: left;
		font-family: arial !important;
		color: #444 !important;
		position: relative;
		padding-bottom: 0px;
		margin-bottom: 0px;
		padding-top: 5%;
	}

	.contact {
		width: 100%;
	}

	.contact-container {
		display: block;
		background-color: #07445d;
		height: 800px;
		width: 100%;
	}

	.about {
		margin-left: 0px !important;
		padding: 0px;
		text-align: center;
		margin-top: 10%;
	}

	.about-header {
		color: white !important;
		font-family: arial;
		font-size: 36px;
		text-align: center;
	}

	.about-text {
		max-width: 80%;
		color: white !important;
		font-family: arial;
		font-size: 14px;
		text-align: justify;
		margin: 5% auto 10%;
	}

	.contact-address-container {
		margin-right: 5%;
		margin-left: 5%;
	}

	.contact-address {
		display: inline-flex;
		width: 100%;
	}

	.contact-address-icons {
		margin-left: 6%;
	}

	.contact-address-text {
		color: white;
		font-family: arial;
		padding-left: 0px;
	}

	.keep-in-touch {
		width: 100%;
	}

	.keep-in-touch-text {
		margin-bottom: 12px !important;
		margin-left: 10px !important;
		padding: 0px 0px !important;
		font-size: 20px;
		color: white;
		font-family: arial;
		font-weight: bold;
		width: 100%;
	}

	.socmeds {
		width: 100%;
		text-align: center;
		display: block;
		margin-top: 10px;
	}

	.contact-img-fb {
		background-image: url("../images/facebook-off.png");
		margin-left: 25%;
		float: left;
	}

	.contact-img-fb:hover {
		background-image: url("../images/facebook.png");
		cursor: pointer;
		transition: background-image 0.3s;
	}

	.contact-img-angellist {
		background-image: url("../images/angellist-off.png");
		margin-right: 25%;
		float: right;
	}

	.contact-img-angellist:hover {
		background-image: url("../images/angellist.png");
		cursor: pointer;
		transition: background-image 0.3s;
	}

	.contact-img-location {
		width: 60%;
		margin-bottom: 180%;
		margin-top: 5%;
	}

	.contact-img-address {
		width: 60%;
		margin-bottom: 50%;
	}

	.contact-img-email {
		width: 60%;
	}

	#map {
		margin: 0px auto;
		text-align: center;
		height: 450px;
		width: 100%;
	}

	.mascot {
		display: block;
		width: 48%;
		padding: 0%;
		margin-top: 5%;
		text-align: center;
	}

	.other-jobs {
		display: block;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		margin: 10% auto 3%;
		font-family: keepCalm;
	}

	.other-jobs-text {
		color: #07445d;
		font-weight: bold;
		margin-top: 0.5%;
	}

	.fa-chevron-circle-up {
		font-size: 30px;
		color: #07445d;
	}

}

@media screen and (max-width: 1025px) and (min-width: 501px) {

	.icons-img {
		max-width: 120px;
	}

	.icons-text-time {
		width: 90%;
	}

	.icons-text-food {
		width: 90%;
	}

	.icons-text-voucher {
		width: 90%;
	}

	.icons-text-challenge {
		width: 90%;
	}

	.icons-text-calendar {
		width: 90%;
	}

	.icons-text-agile {
		width: 90%;
	}

	.icons-text-fun {
		width: 90%;
	}

	.icons-text-family {
		width: 90%;
	}

	.icons-row {
		margin-left: 3%;
		margin-right: 3%;
	}

	.contact-container {
		height: 400px;
	}
}