.space {
	display: block;
	margin: 120px 0px;
}


.wallpaper {
	height: 600px;
}

.wallpaper-image {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.uvp-container {
	bottom: 60%;
	position: relative;
}

.uvpspace {
	font-size: 60px;
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Keep Calm';
	color: white;
	margin: auto;
	text-shadow: 0px 2px 10px #000;
}

.company-explained {
	position: relative;
	bottom: 60%;
	font-size: 14px;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	font-family: arial;
	margin: auto;
	text-shadow: 0px 1px 10px #000;
}

#company_explained {
	color: white;
}

.fivejack-culture-title {
	font-size: 36px;
	font-family: 'Keep Calm';
	color: #07445d;
	text-align: center;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;

}

.fivejack-culture {
	position: relative;
	margin-top: 10px;
	text-align: center;
	margin-left: 64px;
	max-width: 100%;
}

.culture-agile {
	display: inline-block;
	margin: 0px 35px;
}

.culture-hardcore {
	display: inline-block;
	margin: 0px 35px;
}

.culture-data {
	display: inline-block;
	margin: 0px 35px;
}

.culture-font {
	font-size: 22px;
	font-family: 'Keep Calm';
	color: #07445d;
	text-transform: uppercase;
}

.product-page {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 70%;
    position: relative;
    margin: 0px auto;
    text-align: left;
}

.itemku {
	float: left;
	max-width: 360px;
}

.itemku-logo {
	width: 100%;
	position: relative;
	float: left;
}

.itemku-description {
	font-family: "Myriad Pro";
	color: #444;
	position: relative;
	top: 35px;
	clear: both;
	font-size: 16px;
	text-align: left;	
	padding: 0px 0px;
	margin: 0px 0px;
}

.situs-jualbeli {
	color: #f59d26;
	font-family: "Myriad Pro";
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
}

.itemku-preview-container {
	float: right;
	position: relative;
	max-width: 700px;
	bottom: 40px;
}

.itemku-preview {
	width: 100%;
}

.reviewed-by {
	font-family: "Myriad Pro";
	color: #444;
	position: relative;
	font-size: 16px;
}

.container-reviews {
	text-align: center;
    width: 70%;
    position: relative;
    margin: 0px auto;
}

.review-content-outter-container {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
}

.review-content-container {
    width: 400px;
    text-align: left;
    vertical-align: middle;
}

.review-content-container-2 {
    width: 400px;
    text-align: left;
    vertical-align: middle;
    margin-top: 30px;
}

.review-image {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}

.review-text {
    display: inline-block;
    width: 210px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
    color: #1982ad;
    vertical-align: middle;
    margin-left: 20px;
}

.review-image-2 {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.review-text-2 {
    display: inline-block;
    width: 210px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
    color: #1982ad;
    vertical-align: middle;
    margin-left: 30px;
}

.review-text:hover {
	text-decoration: underline;
	cursor: pointer;
}

.review-text-2:hover {
	text-decoration: underline;
	cursor: pointer;
}